{% extends "base.html" %}
{% load static %}

{% block form %}
{% load crispy_forms_tags %}
<div class="centerWrapper">
    <h2>Register</h2>
    <form method="post" class="d-flex g-2 flex-column">
        <div class="login_form d-flex g-2 flex-column">
            {% csrf_token %}
            {% crispy user_form %}
            {% crispy employee_form %}
            <p></p>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
</div>

{% endblock %}
