{% extends "base.html" %}
{% block form %}

<div class="centerWrapper_training">

    <form method="post">
        <div class="login_form d-flex flex-column justify-content-center">
            <h2>Assign Training</h2>
            {% csrf_token %}
            <div class="d-flex flex-column justify-content-center g--200 mt-3">

                <div class="mb-3">
                    <label for="id_employee" class="form-label">Employee:</label>
                    {{ form.employee }}
                </div>

                <div class="mb-3">
                    <label for="id_training" class="form-label">Training:</label>
                    {{ form.training }}
                </div>

                <div class="mb-3">
                    <label for="id_completion_date" class="form-label">Completion Date:</label>
                    {{ form.completion_date }}
                </div>

                <div class="d-flex justify-content-center align-items-center mt-2">
                    <label for="{{ form.is_done.id_for_label }}" class="me-2">Is done:</label>
                    {{ form.is_done }}
                </div>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary mt-3">Assign Training</button>

        </div>

    </form>

</div>
{% endblock %}