{% extends "base.html" %}
{% block form %}


<div>
    <div>
    <h1>Employee Info</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Name</strong></td>
                <td>{{ employee.user.username }}</td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td>{{ employee.user.email }}</td>
            </tr>
            <tr>
                <td><strong>Experience</strong></td>
                <td>{{ employee.experience }}</td>
            </tr>
            <tr>
                <td><strong>Phone Number</strong></td>
                <td>{{ employee.phone_nr }}</td>
            </tr>
            <tr>
                <td><strong>Group Name</strong></td>
                <td>{{ employee.employee_group }}</td>
            </tr>
            <tr>
                <td><strong>Hire Date</strong></td>
                <td>{{ employee.hire_date }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <div>
        <h2>Completed Trainings</h2>
        {% if employee.trainings.exists %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Training Name</th>
                        <th>Description</th>
                        <th>Completion Date</th>
                        <th>Expiration Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for training in employee.trainings.all %}
                        <tr>
                            <td>{{ training.training.name }}</td>
                            <td>{{ training.training.description }}</td>
                            <td>{{ training.completion_date }}</td>
                            <td>{{ training.expiration_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No completed trainings available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
