.nav_main {
    position: fixed;
    text-decoration: none;
    height: 100vh;
    width:17rem;
    float: left;
    padding: 2rem;
    background-color:rgba(19, 172, 214);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

a {
    text-decoration: none;
}

.centerWrapper {
    background-image: url("image.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login_form {
    background-color: rgba(3, 219, 252, 0.5);
    padding: 2rem;
    border: .25rem solid;
    border-radius: 1.5rem;

}

.button_submit {
    width:10%;
}

.nav_list {
    list-style-type: none;
}

.logged_dashboard {
    background-color: rgba(24, 129, 158);
    border: .15rem solid;
    border-radius: 1.5rem;
    padding:0.5rem;
}

.capitalize-first::first-letter {
    text-transform: uppercase;
}

.centerWrapper_training {
    background-image: url("training.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main_content {
    background-color:rgba(20, 190, 190);
    margin-left: 17rem;
    overflow-y: auto;
    min-height: 100vh;
}

.records {
    background-color:rgba(20, 190, 190, 0.8);
}